<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRT6CwKGm0cfqAM2kUx_Dk0rW0imVq6ACxRBg&usqp=CAU"
        alt="" />
    </div>
    <div class="contenido">
      <h1>Equipos</h1>
      <p>
        A través del siguiente enlace podras encontrar el listado de los
        equipos de todas las temporadas desde 2016 menos la de 2021 por
        problemas de la API de donde se han sacado todos los datos y
        estadisitcas de esta aplicación web.
      </p>
      <p>
        Una vez entres en el enlace, si quieres ver información de un equipo
        en concreto simplemente vuelva a hacer click en el botón de ver
        detalles. Se te redigirá a otra página donde encontras los jugadores
        de cada equipo y datos relevantes sobre este. Encontras además los
        equipos de pretemporada y los all star de cada año en los subapartados.
      </p>
      <a routerLink="/teams"><button mat-raised-button color="primary">Ver Equipos</button></a>
      <img
        src="https://img.playbuzz.com/image/upload/ar_1.8867924528301887,c_crop/q_auto:best,f_auto,fl_lossy,w_640,c_limit,dpr_1/v1588350225/fu2eytq9g8ruok1phqiu.png"
        style="display: block; margin: auto; width: 600px;" alt="" />
      <br />
      <br />
      <hr style="width: 100%" />
      <br>
      <br>
      <h1>Jugadores</h1>
      <p>
        Como con los equipos, al hacer click en el siguiente enlace, se te redireccionará a otra página donde se
        mostrará un listado completo de todos los jugadores de cada año.
      </p>
      <p>
        Podras consultar todas las estadísticas del jugador que selecciones en una tabla
      </p>
      <a routerLink="/players"><button mat-raised-button color="primary">Ver Jugadores</button></a>
      <img src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/04/09/15548017593169.jpg" alt=""
        style="display: block; margin: auto; width: 600px;">
      <br />
      <br />
      <hr style="width: 100%" />
      <br>
      <br>
      <h1>Clasificación</h1>
      <p>Esta es la clasificación actualizada de la NBA</p>
      <p>En la tabla se muestran las estadísitcas principales de cada equipo con respecto a la liga del año 2019.</p>
      <br>
      <br>
      <table class="tabla">
        <tr>
          <th>Nº</th>
          <th>Nombre</th>
          <th>IMG</th>
          <th>W</th>
          <th>L</th>
          <th>Win%</th>
          <th>Loss%</th>
          <th>GB</th>
          <th>Conference</th>
          <th>Division</th>
          <th>Home</th>
          <th>Home Road</th>
          <th>L10W</th>
          <th>Streak</th>
        </tr>

        <tr *ngFor="let eq of clasificacion">
          <td>{{clasificacion.indexOf(eq)+1}}</td>
          <td>
            <a id="ver-detalles" style="width: min-content;" [routerLink]="'/team/details/'+2022+'/'+nombreEquipos(eq).teamId" href="">{{nombreEquipos(eq).nickname}}</a>
          </td>
          <td>
            <img [src]="'https://cdn.nba.com/logos/nba/'+eq.teamId+'/global/L/logo.svg'"
              onerror="this.src='https://static.vecteezy.com/system/resources/previews/003/348/586/non_2x/error-404-with-the-cute-basketball-mascot-free-vector.jpg'"
              style="display: block; margin: auto;" alt="">
          </td>
          <td>
            {{eq.win}}
          </td>
          <td>
            {{eq.loss}}
          </td>
          <td>
            {{eq.winPct}}
          </td>
          <td>
            {{eq.lossPct}}
          </td>
          <td>
            {{eq.gamesBehind}}
          </td>
          <td>
            {{eq.confRank}}
          </td>
          <td>
            {{eq.divRank}}
          </td>
          <td>
            {{eq.homeWin}}-{{eq.homeLoss}}
          </td>
          <td>
            {{eq.awayWin}}-{{eq.awayLoss}}
          </td>
          <td>
            {{eq.lastTenWin}}
          </td>
          <td>
            {{eq.streak}}
          </td>
        </tr>
      </table>
      <br>
      <br>
    </div>
  </div>
</body>

</html>

<!-- 
  <a id="ver-detalles" [routerLink]="'/team/details/'+2022+'/'+nombreEquipos(eq).teamId" href="">nombreEquipos(eq).nickname<div id="flecha-enlace">➤</div></a>
-->