<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Players</title>
  </head>
  <body>
    <mat-form-field class="options">
      <mat-label>Año</mat-label>
      <mat-select [(ngModel)]="year" (valueChange)="changeYear()">
          <mat-option *ngFor="let yearSelect of yearList" [value]="yearSelect">
              {{yearSelect}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <input type="text" style="width: 400px; padding: 2px 20px; margin: 10px 100px; height: 30px;" placeholder="Introduce el nombre de un país en ingles: Spain, USA , Canada" [(ngModel)]="filterText">   
    <div class="container" fxLayout="row wrap" fxLayoutAlign="space-around center" >      
      <app-one-player class="example-card" *ngFor="let player of filterPLayersByFirstName(filterText)" [player.firstName]="player.firstName" [player.lastName]="player.lastName" 
      [player.country]="player.country" [player.teamId]="player.teamId" [player.personId]="player.personId" style="width: 275px;">

      </app-one-player>      
    </div>
  </body>
</html>
