<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header [class]="cambiarLogo(equipo.isAllStar)?'AllStar':''" fxLayout="row" fxLayoutAlign="center center">
            <img [src]="'https://cdn.nba.com/logos/nba/'+equipo.teamId+'/global/L/logo.svg'"
                onerror="this.src='https://static.vecteezy.com/system/resources/previews/003/348/586/non_2x/error-404-with-the-cute-basketball-mascot-free-vector.jpg'" />
            <h1>{{equipo.fullName}}</h1>
        </header>
        <div class="menu" fxLayout="row" fxLayoutAlign="space-around center">
            <p>Nick Name: {{equipo.nickname}}</p>
            <p>City: {{equipo.city}}</p>
            <p>Conference: {{equipo.confName}}</p>
            <p>Division: {{equipo.divName}}</p>
        </div>
        <main  class="container-card">
            <div  style="width: 100%; margin-top: 20px;"><input type="search" name="" id="buscador" placeholder="Buscar jugador" [(ngModel)]="nombreApellido" style="margin: auto; display: block;"></div>
            <div *ngFor="let player of jugadores">
                <mat-card class="example-card" *ngIf="player.teamId == equipo.teamId && (player.firstName.toLowerCase().includes(nombreApellido.toLowerCase()) || player.lastName.toLowerCase().includes(nombreApellido.toLowerCase()) || (player.firstName + ' ' + player.lastName).toLowerCase().includes(nombreApellido.toLowerCase()))">
                    <mat-card-title-group>
                        <mat-card-title>{{player.firstName}} {{player.lastName}}</mat-card-title>
                        <mat-card-subtitle>Height: {{player.heightMeters}}</mat-card-subtitle>
                        <img [src]="'https://cdn.nba.com/headshots/nba/latest/1040x760/'+player.personId+'.png'" alt="" onerror="this.src='https://i.ibb.co/xS8L4fy/donmiguel.png'">
                    </mat-card-title-group>
                </mat-card>
            </div>
        </main>
    </div>
</body>

</html>